*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "poppins";
    src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "sans-serif";
    src: url(./OpenSans-VariableFont_wdth,wght.ttf);
}

/* navbar start */

.bars{
    display: none;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}
.nav.links{
    display: flex;
    gap: 30px;
}
.nav.links li{
    list-style: none;
}
.nav.links li a{
    text-decoration: none;
    font-family: poppins;
    color: black;
    text-transform: uppercase;
}
.nav.links button{
    border: none;
    outline: none;
    background: transparent;
    background-color: red;
    padding: 10px 30px;
    border-radius: 3px;
}
.nav.links button a{
    text-decoration: none;
    font-family: poppins;
    color: white;
    text-transform: uppercase;

}
/* navbar end */


/* hero section */

.hero{
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    padding: 70px 0px;
    gap: 70px;
}
.content{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: poppins;
}
.content span{
    font-size: 30px;
    font-family: poppins;
    font-weight: 700;

}
.content p{
    color: rgb(145, 148, 162);
}
.hero img{
    width: 30%;

}
.hero img{
    width: 100%;
}
.content .btns button{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: poppins;
    padding: 10px 20px;
    border-radius: 5px;
}
.btns{
    display: flex;
    gap: 30px;
}
.btns #first{
    color: white;
    background-color: rgb(82, 103, 223);
}
.btns #second{
    background-color: rgb(247, 247, 247);
    box-shadow:  0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}
.btns #second:hover{
    color: white;
    background-color: rgb(82, 103, 223);
}
.btns #first :hover{
    color: white;
    background-color: rgb(82, 103, 223);
}
.btns #second:hover{
    color: black;
    background-color: rgb(247, 247, 247);
    box-shadow:  0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}
.rectangle{
    width: 50%;
    height: 20rem;
    background-color:rgb(82, 103, 223);
    border-bottom-left-radius:999px ;
    border-top-left-radius: 999px;
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: -5;

}


/* hero section end */

/* features section start */
.chrome:hover{
    background-color: rgb(247 247 247);
    color: black;

}
.firefox:hover{
    background-color: rgb(82,103,223);
    color: white;
}

.features{
    background-color: rgb(247, 247, 247);
    padding: 0px 0px;
}
.faq{
    background-color: rgb(247, 247, 247);
}
.extension{
    background-color: white;
}
.featurescontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-family: poppins;
    font-weight: 0;

}
.features.first{
    order: -1;
}
.features.Manager{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.browser{
    display: flex;
    justify-content: center;
    padding: 70px 0x;
    gap: 30px;
    height: 50vh;
    align-items: start;
    height: 50vh;
}
.chrome{
    box-shadow:  0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    border-radius: 5px;
}
.two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;
    border: 1px solid rgb(229,231,235);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    border-top:0px ;
}
.chromeimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chromecontent{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.chromebtn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.chromebtn button{
    width: 90%;
    outline: none;
    border: none;
    background: transparent;
    background-color: rgb( 82 103 223);
    color: white;
    padding:10px;
    border-radius: 3px;
}
#browserfirefox{
    align-self: center;
}
#opera{
    align-self: flex-end;
}
.questionsfaq{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.question1{
    display: flex;
    gap: 150px;
    padding: 10px 0px;
    border:1px solid rgb(229,231,235);
}
.btnfaq{
    display: flex;
    justify-content: center;
}
.btnfaq button{
    width: 10%;
    outline: none;
    border: none;
    background: transparent;
    background-color: rgb( 82 103 223);
    color: white;
    padding:10px;
    border-radius: 3px;

}
.join{
    background-color: rgb( 82 103 223);
    padding: 40px 0px;
    display: flex;
    justify-content: center;
}
.uptodate{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    font-family: poppins;
}
input{
    display: flex;
    justify-content: center;
    gap: 20px
}
.input input{
    padding: 20px 40px;
    flex: 1;
    border: none;
    border-radius: 10px;
}
.input button{
     border: none;
    outline: none;
    background: transparent;
    background-color: red;
    padding: 10px 30px;
    border-radius: 3px;
}
.input button:hover{
    background-color: white;
    color: black;
}
.footer{
    display: flex;
    background-color: rgb(36 42 69);
    padding: 20px 100px;
    align-items: center;
    justify-content: space-between ;
}
.white li a{
    color: white;
}
.footermain{
    display: flex;
    align-items: center;
    gap: 30px;
}

/* media queries */

@media screen and (max-width:480px) {
    .nav.links{
        display: none;
    }
    .bars{
        display: block;
    }
    .hero{
        flex-direction: column;
    }
    .content{
        width: 100%;
        padding: 0px 20px;
    }
    .hero i,g{
        width: 100%;
        padding: 0px 30px;
    }
}

@media screen  and (min-width:481px) and (max-width:768px) {
    .hero{
        flex-direction: column;
    }
}
 